.App {
  @apply relative z-10 flex justify-center items-center flex-col mx-auto sm:px-10;
  background: linear-gradient(122.35deg, #fbfbfb 7.77%, #e7eae9 102.23%);
}

/* Common Flex CSS */
.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-start;
}

/* Common Flex CSS Ends */

.nav_glass {
  box-shadow: 4px -10px 65px 0 rgba(0, 0, 0, 0.071);
  @apply bg-clip-padding backdrop-filter backdrop-blur-[4px] bg-opacity-25 bg-[#FCFCFC];
}

.gradient-after {
  background: linear-gradient(
    90.81deg,
    #0c94e1 2%,
    rgba(7, 214, 152, 0.22) 50.67%
  );
  position: absolute;
  bottom: 25%;
  opacity: 45%;
  z-index: -999;
}

.inner-boxshadow {
  box-shadow: rgb(204, 219, 232) 3px 3px 10px 0px inset,
    rgba(204, 219, 232, 0.3) -3px -3px 5px 1px inset;
}

.filter-select {
  @apply ml-1 rounded-lg outline-none p-1 capitalize bg-[#c5751814];
}

.btn {
  @apply rounded-[2rem] px-3 py-[5px];
}

.gradient-btn {
  background: linear-gradient(
    180deg,
    rgba(24, 197, 176, 0.8),
    rgba(46, 218, 197, 0.8)
  );
  box-shadow: 0 19px 22px -4px rgba(9, 187, 176, 0.39);
  border: 1px solid;
  border-image-source: linear-gradient(
    180deg,
    transparent,
    rgba(0, 0, 0, 0.21)
  );
  cursor: pointer;
}

.gradient-text {
  background-image: linear-gradient(90.81deg,#0c94e1 1.5%,#07d698 51.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
